*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-height: 100vh;
    background: #eef2f3;
}

h1{
    text-align: center;
}

form{
    background: #fff;
    padding: 2rem 2.5rem;
    border-radius: 0.9rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
}

.input-field{
    margin-bottom: 1.2rem;
}

.input-field label{
    padding-left: 5px;
}

input{
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #ddd;
    border-radius: 0.4rem;
}

#password{
    border: none;
    outline: none;
}

.show-pass{
    width: 100%;
    border: none;
    border: 2px solid #ddd;
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#show{
    cursor: pointer;
}

input:focus{
    border-color: #004b9c;
}

.error{
    font-size: 0.8rem;
    color: red;
    visibility: hidden;
}

.valid input{
    border-color: green;
}

.invalid input{
    border-color: red;
}

button{
    width: 100%;
    padding: 0.65rem;
    background: #007bff;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}

button:disabled{
    background: #aaa;
    cursor: not-allowed;
}

@media (max-width:425px) {
    form{
        padding: 1.5rem;
        width: 280px; 
    }
}