*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

h2{
    text-align: center;
    margin-top: 50px;
}

.container{
    width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    margin-top: 40px;
}

.box{
    width: 150px;
    height: 150px;
    border: 3px dashed #007bff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.item{
    background: #007bff;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: grab;
}

.hidden{
    opacity: 0;
}