*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #7f00ff, #e100ff);
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    text-shadow: 0 4px 10px rgb(0, 0, 0);
}

.container{
    background: #2b2b2b;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.521);
}

@media (max-width:320px) {
    .container{
        padding: 20px;
        width: 280px;
    }
}

input{
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    outline: none;
}

button{
    width: 95%;
    background: #00ff99;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background: #00cc7a;
}

.result{
    margin-top: 20px;
    background: #1c1c1c;
    padding: 15px;
    border-radius: 10px;
}