*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(120deg, #5de0e6, #004aad);
}

header{
    height: 80vh;
    color: white;
    width: 100%;
    border-bottom: 2px solid #ddd;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li:hover{
    cursor: pointer;
    color: #004aad;
}

@media (max-width: 500px) {
    .nav-links{
        display: none;
    }
}
.hero{
    margin-top: 140px;
    text-align: center;
}

.hero span{
    color: yellow;
}

.hero p{
    margin-top: 10px;
}

button{
    background: white;
    color: #333;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
}

button:hover{
    background: #007bff;
    color: white;
}

/* about section */

section{
    padding: 60px 50px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

@media (max-width: 330px) {
    section{
        padding: 60px 20px;
    }
}

section h2{
    font-size: 28px;
    margin-bottom: 25px;
    color: #ffffff;
    text-shadow: 2px 4px 8px rgb(1, 26, 80);
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-container img{
    width: 150px;
    border-radius: 50%;
}

/* skills section */

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills-container span{
    background: #66a6ff;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease;
}

.skills-container span:hover{
    background: #007bff;
    transform: scale(1.05);
    cursor: pointer;
}

/* projects section */

.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card{
    background: #f0f0f0;
    border-radius: 10px;
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: all 0.3s;
}

.project-card:hover{
    transform: scale(1.05);
}

.project-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-card a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background: #004aad;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}

/* Contact section */

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

input, textarea{
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #ccc;
    outline: none;
}

input:focus, textarea:focus{
    border-color: #004aad;
}

form button{
    background: #004aad;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover{
    background: #002f6c;
}

/* Responsive */
@media (max-width: 768px) {
    .about-container{
        flex-direction: column;
    }

    .projects-container{
        flex-direction: column;
        align-items: center;
    }
}