*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

.faq-container{
    width: 80%;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.faq{
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    cursor: pointer;
}

.faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer{
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.faq.active .faq-answer{
    padding-top: 10px;
    max-height: 200px;
    animation: fade-in 0.7s linear forwards;
    opacity: 0;
}

@keyframes fade-in {
    to{
        opacity: 1;
    }
}

.icon{
    font-size: 25px;
    transition: transform 0.3s ease;
}

.faq.active .icon{
    transform: rotate(45deg);
    color: red;
}