*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #eef3f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.color-picker-container{
    background: white;
    padding: 2rem 2.8rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    width: 320px;
}

h1{
    margin-bottom: 1rem;
    color: #333;
}

.picker-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#colorInput{
    width: 3rem;
    height: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
}

#copyBtn{
    padding: 0.6rem 1rem;
    border: none;
    background: #0078ff;
    color: white;
    font-size: 0.8rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#randomBtn{
    padding: 0.8rem;
    background: #0078ff;
    border-radius: 5px;
    color: white;
    border: none;
}


#randomBtn:hover, #copyBtn:hover{
    background: #005fd1;
}

.color-display{
    width: 100%;
    height: 8.5rem;
    border-radius: 8px;
    background: #0078ff;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.color-code{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hexCode{
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

#mode{
    font-size: 1.2rem;
    background: #333;
    border-radius: 5px;
}

@media (max-width: 425px) {
    .color-picker-container{
        width: 280px;
        padding: 1.2rem;
    }
}